language: generic
sudo: required
dist: trusty

matrix:
  fast_finish: true
  include:
    - env: COQ_VERSION="master" COQ_PACKAGE="coq"     PPA="ppa:jgross-h/coq-master-daily"
    - env: COQ_VERSION="v8.8"   COQ_PACKAGE="coq"     PPA="ppa:jgross-h/coq-8.8-daily"
    - env: COQ_VERSION="v8.7"   COQ_PACKAGE="coq"     PPA="ppa:jgross-h/coq-8.7-daily"
    - env: COQ_VERSION="v8.6"   COQ_PACKAGE="coq"     PPA="ppa:jgross-h/coq-8.6-daily"
  allow_failures:
    - env: COQ_VERSION="master" COQ_PACKAGE="coq"     PPA="ppa:jgross-h/coq-master-daily"
    # env: COQ_VERSION="v8.8"   COQ_PACKAGE="coq"     PPA="ppa:jgross-h/coq-8.8-daily"
    # env: COQ_VERSION="v8.7"   COQ_PACKAGE="coq"     PPA="ppa:jgross-h/coq-8.7-daily"
    - env: COQ_VERSION="v8.6"   COQ_PACKAGE="coq"     PPA="ppa:jgross-h/coq-8.6-daily"

before_install:
  - if [ ! -z "$PPA" ]; then sudo add-apt-repository "$PPA" -y; fi
  - sudo apt-get update -q
  - sudo apt-get install $COQ_PACKAGE -y

script: make $TARGETS TIMED=1 -j2
